package ${packageName};

import com.adecker.glowplugcompiler.GlowplugEntity;

public class EntityList {

GlowplugEntity[] entities = {
#foreach($class in $classes)
    new ${class.simpleName}Entity(),
#end
};
}