package ${packageName};

import com.adecker.glowplugcompiler.GlowplugAttribute;
import com.adecker.glowplugcompiler.GlowplugEntity;
import com.adecker.glowplugcompiler.GlowplugRelationship;

public class ${className}Entity extends GlowplugEntity{
    public static final String TABLE_NAME = "${tableName}";

    public static class AttributeNames {
    #foreach($field in $fields)
        public static final String ${field.name.toUpperCase()} = "$field.localName";
    #end
    }

    public static enum Attribute {
    #foreach($field in $fields)
        ${field.name.toUpperCase()}("$field.localName"),
    #end
        ;

        private String name;
        private Attribute(String name) {
            this.name = name;
        }

        public String getFQName() {
            return TABLE_NAME + "." + name;
        }
        public String toString() {
            return name;
        }
    }

    public ${className}Entity() {
    }

    @Override
    public String getName() {
        return TABLE_NAME;
    }

    @Override
    public String getLocalName() {
        return TABLE_NAME;
    }

    @Override
    public String getRemoteName() {
        return TABLE_NAME;
    }

    @Override
    public GlowplugAttribute[] getAttributes() {
        return null;
    }

    @Override
    public GlowplugRelationship[] getRelationships() {
        return null;
    }

}